.btn {
    border: none;
    border-radius: 3px;
    background-color: #e8aa31;
    padding: 10px 40px;
    color: #fff;
}
.btn2 {
    font-size: 20px !important;
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 3px;
    background-color: #e8aa31;
    padding: 10px 40px;
    color: #fff;
}