// start card all

.cardall {
    margin: 0 20px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 20px;
    width: 20vw;
    height: max-content !important;
    border-radius: 5px;
}

.cardall:hover {
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
        0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all .1s;
}


.cardall div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cardall img {
    margin: 0 auto;
}

.cardall button {
    margin: 0 auto !important;
}

//start card 8

.card8 {
    width: 15vw;
    height: 30vh;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.card8:hover {
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
        0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all .1s;

}

.card8 img {
    background-size: contain !important;
    background-position: top;
    background-repeat: repeat !important;
    // width: 100% !important;
    // height: 120% !important;
}

.card8 div {
    padding: 10px;
}

.card8 div h4 {
    font-size: 25px;
    margin-bottom: 10px;
}