footer {
    width: 100%;
    height: max-content;
    background-color: black;

    .foot-flexs-first {
        display: flex;
        justify-content: space-around;

        .foot-flexs-one {
            margin-top: 50px;
            // line-height: 3;
            width: 200px;

            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-two {
            margin-top: 50px;

            // line-height: 3;
            // width: 200px;
            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-three {
            margin-top: 50px;

            // line-height: 3;
            // width: 200px;
            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-four {
            margin-top: 50px;

            // line-height: 3;
            // width: 200px;
            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }
    }

    hr {
        margin: 50px;
    }

    .foot-flexs-second {
        display: flex;
        justify-content: space-around;

        .foot-flexs-one {
            margin-top: 50px;

            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-two {
            margin-top: 50px;

            p {
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-three {
            margin-top: 50px;

            p {
                width: 285px;
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }

        .foot-flexs-four {
            margin-top: 50px;


            p {
                width: 285px;
                font-family: sans-serif;
                color: white;
                padding: 20px;
            }

            div {
                input {
                    width: 200px;
                    height: 40px;
                    margin: 20px;
                    padding-left: 5px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }

                button {
                    height: 40px;
                    width: 40px;
                    // margin-right: 40px;
                }
            }

            b {
                padding: 20px;
                font-family: sans-serif;
                color: white;
            }
        }
    }

    .foot-icons {
        width: 20%;
        display: flex;
        justify-content: space-around;
        padding: 50px;
    }

    hr {
        margin: 50px;
    }

    .foot-end {
        display: flex;
        justify-content: space-between;
        padding: 50px;

        p {
            color: white;
        }

        .p-1 {
            width: 600px;
        }
    }
}